PORT=8080

DATABASE_URL="postgresql://postgres:password@localhost:5432/bootcamp-treinos-api"

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8080

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret